* {
  font-family: poppins;
  margin: 0;
  padding: 0;
  color: white;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-size: 20px;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #201F1F;
  border-radius: 80px;
}

::-webkit-scrollbar-thumb {
  background: rgb(38, 40, 44);
}

body {
  background-color: #201F1F;
  overflow-x: hidden;
}

nav h2 {
  margin: 70px 0 0 90px;
  font-size: 19px;
  letter-spacing: 2px;
}

#container-h {
  height: 900px;
}
#container-h h1 {
  margin-top: 120px;
  text-align: center;
  font-size: 135px;
  letter-spacing: 40px;
}
#container-h object {
  margin: 75px 50% 0 50%;
  width: 50px;
  height: 40px;
  -webkit-animation-name: contoh;
          animation-name: contoh;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes contoh {
  0% {
    margin: 75px 50% 0 50%;
  }
  15% {
    margin: 80px 50% 0 50%;
  }
  25% {
    margin: 85px 50% 0 50%;
  }
  35% {
    margin: 90px 50% 0 50%;
  }
  50% {
    margin: 95px 50% 0 50%;
  }
  65% {
    margin: 90px 50% 0 50%;
  }
  75% {
    margin: 85px 50% 0 50%;
  }
  100% {
    margin: 75px 50% 0 50%;
  }
}

@keyframes contoh {
  0% {
    margin: 75px 50% 0 50%;
  }
  15% {
    margin: 80px 50% 0 50%;
  }
  25% {
    margin: 85px 50% 0 50%;
  }
  35% {
    margin: 90px 50% 0 50%;
  }
  50% {
    margin: 95px 50% 0 50%;
  }
  65% {
    margin: 90px 50% 0 50%;
  }
  75% {
    margin: 85px 50% 0 50%;
  }
  100% {
    margin: 75px 50% 0 50%;
  }
}
#container-a {
  height: 800px;
  overflow: hidden;
}
#container-a h1 {
  text-indent: 100px;
  font-size: 26px;
  word-spacing: 3px;
  letter-spacing: 3px;
}

#container-a .content {
  display: flex;
  margin-top: 50px;
}
#container-a .content .image img {
  height: 500px;
  width: 370px;
  margin: -65px 0 0 -30px;
}
#container-a .content ul {
  block-size: auto;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin: 70px 0 0 20px;
  height: 320px;
}
#container-a .content ul li {
  display: inline-block;
  margin: 5px 0 0 130px;
}
#container-a .content ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 1.2px;
}
#container-a .content ul li:nth-child(2) {
  padding: 15px 0 15px 0;
}

#container-a .content .content-i {
  width: 710px;
  font-size: 15px;
}
#container-a .content .content-i p {
  text-align: justify;
}

#container-a .content .content-i button {
  color: rgb(255, 255, 255);
  width: 87px;
  height: 30px;
  background-color: #2E2F36;
  text-align: center;
  border-radius: 30px;
  border: none;
  text-transform: capitalize;
  margin-top: 20px;
  box-shadow: 7px 10px 42px -7px rgba(0, 0, 0, 0.59);
}

#container-p {
  height: 1000px;
}
#container-p h1 {
  text-indent: 100px;
  font-size: 26px;
  word-spacing: 3px;
  letter-spacing: 3px;
}
#container-p .project {
  width: 1200px;
  margin: 30px auto 300px auto;
  display: flex;
  background-color: rgba(250, 128, 114, 0);
}
#container-p ul:nth-child(1) {
  text-align: center;
  margin: 0 0 0 180px;
}
#container-p ul:nth-child(1) li {
  display: inline-block;
  padding: 40px;
  text-align: start;
}
#container-p ul:nth-child(1) li img {
  width: 280px;
}
#container-p ul:nth-child(1) li a {
  text-decoration: none;
}
#container-p ul:nth-child(1) button {
  color: rgb(255, 255, 255);
  width: 87px;
  height: 30px;
  background-color: #2E2F36;
  text-align: center;
  border-radius: 30px;
  border: none;
  text-transform: capitalize;
  margin: 20px 0 0 550px;
  box-shadow: 7px 10px 42px -7px rgba(0, 0, 0, 0.59);
}
#container-p ul:nth-child(2) {
  block-size: auto;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin: 150px 80px 0 0;
  height: 320px;
}
#container-p ul:nth-child(2) li {
  display: inline-block;
  margin: 5px 0 0 130px;
}
#container-p ul:nth-child(2) li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 1.2px;
}
#container-p ul:nth-child(2) li:nth-child(2) {
  padding: 15px 0 15px 0;
}

#container-c {
  height: 800px;
}
#container-c h1 {
  text-align: center;
  font-size: 26px;
  word-spacing: 3px;
  letter-spacing: 3px;
  margin-bottom: 100px;
}
#container-c .contact {
  display: flex;
  justify-content: space-around;
}
#container-c .contact .email {
  text-transform: uppercase;
}
#container-c .contact .email div label {
  text-align: center;
}
#container-c .contact .email input {
  border: none;
  outline: none;
  background-color: #201F1F;
  border-bottom: 2px solid white;
  display: block;
  width: 300px;
  padding-top: 10px;
}
#container-c .contact .email textarea {
  border: none;
  outline: none;
  background-color: #201F1F;
  border-bottom: 2px solid white;
  display: block;
  width: 300px;
  height: 100px;
  padding-top: 10px;
  padding-right: 5px;
  margin-bottom: 25px;
  max-height: 250px;
}
#container-c .contact .email button {
  color: rgb(255, 255, 255);
  width: 87px;
  height: 30px;
  background-color: #2E2F36;
  text-align: center;
  border-radius: 7px;
  border: none;
  text-transform: capitalize;
  margin-top: 20px;
  box-shadow: 7px 10px 42px -7px rgba(0, 0, 0, 0.59);
}
#container-c .contact .icon ol li {
  display: inline-block;
  padding-right: 15px;
}
#container-c .contact .icon ol li object {
  width: 25px;
}

#footer {
  background-color: #0D0D0D;
  height: 60px;
}
#footer p {
  line-height: 60px;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 855px) {
  nav h2 {
    margin: 90px 0 0 90px;
    font-size: 17px;
  }
  #container-h .content h1 {
    font-size: 80px;
    text-align: center;
    line-height: 500px;
    letter-spacing: 30px;
  }
  #container-h .content object {
    margin: -20px 50% 0 50%;
    width: 50px;
    height: 40px;
  }
  #container-a h1 {
    font-size: 20px;
  }
  #container-a .content .image img {
    display: none;
  }
  #container-a .content .content-i {
    padding-left: 100px;
    font-size: 13px;
  }
  #container-a ul {
    padding-right: 40px;
  }
  #container-p h1 {
    font-size: 20px;
  }
  #container-p .project ul:nth-child(1) {
    width: 600px;
    margin: 0 0 0 70px;
    text-align: center;
  }
  #container-p .project ul:nth-child(1) li {
    padding: 20px;
  }
  #container-p .project ul:nth-child(1) li img {
    width: 250px;
  }
  #container-p .project ul:nth-child(1) li a {
    font-size: 14px;
  }
  #container-p .project ul:nth-child(1) button {
    margin-left: 450px;
  }
  #container-p .project ul:nth-child(2) {
    margin-right: 0;
    margin-left: -33px;
  }
}
@media only screen and (max-width: 800px), (max-width: 815px) {
  #container-p .project ul:nth-child(2) {
    margin-left: -70px;
  }
}
@media screen and (max-width: 950px) {
  #container-a .content .content-i {
    font-size: 14px;
  }
  #container-p h1 {
    font-size: 20px;
  }
  #container-p .project ul:nth-child(1) {
    width: 600px;
    margin: 0 0 0 70px;
    text-align: center;
  }
  #container-p .project ul:nth-child(1) li {
    padding: 20px;
  }
  #container-p .project ul:nth-child(1) li img {
    width: 250px;
  }
  #container-p .project ul:nth-child(1) li a {
    font-size: 14px;
  }
  #container-p .project ul:nth-child(1) button {
    margin-left: 450px;
  }
  #container-p .project ul:nth-child(2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 430px) {
  nav {
    height: 50px;
  }
  nav h2 {
    font-size: 13px;
    letter-spacing: 5px;
    margin-left: 50px;
  }
  #container-h .content {
    height: 400px;
  }
  #container-h .content h1 {
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: 5px;
    height: 400px;
  }
  #container-h .content object {
    margin-top: -90px;
    width: 30px;
  }
  #container-a h1 {
    font-size: 17px;
    text-indent: 50px;
  }
  #container-a .content {
    margin-top: 0;
  }
  #container-a .content .content-i {
    font-size: 10.8px;
    padding: 50px;
  }
  #container-a .content .content-i button {
    font-size: 10px;
    width: 70px;
  }
  #container-a .content ul {
    display: none;
  }
  #container-p h1 {
    font-size: 17px;
    text-indent: 50px;
  }
  #container-p .project ul:nth-child(1) {
    width: 230px;
    margin: 70px;
  }
  #container-p .project ul:nth-child(1) li {
    text-align: center;
  }
  #container-p .project ul:nth-child(1) li img {
    width: 200px;
  }
  #container-p .project ul:nth-child(1) li a {
    font-size: 12px;
  }
  #container-p .project ul:nth-child(2) {
    display: none;
  }
  #container-c {
    height: 400px;
  }
  #container-c .contact .email {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */